<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <webServices>
      <protocols>
        <remove name="HttpSoap12"/>
      </protocols>
    </webServices>
  </system.web>
  <connectionStrings>
    <add name="ScmiConnectionString" connectionString="Data Source=192.168.100.84,1433;Initial Catalog=PW_APP_PANADERIA;Persist Security Info=True;User ID=sa;Password=alex123" providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>
